<button type="submit"
        [class]="'btn ' + styleClass + ' position-relative reactive-btn ' + (softConfirmActive ? 'soft-confirm-active' : '')"
        [ngStyle]="softConfirmActive ? {'background-color':'#2f855a', 'color': '#ffffff'} : null"
        class="btn btn-primary position-relative"
        style="width: inherit; height: 3.5rem; overflow: hidden;"
        (click)="click()"
        [disabled]="_disabled">
    <!--begin::Indicator label-->
    <span class="indicator-label d-flex justify-content-center align-items-center">
        <app-keenicon *ngIf="iconParams" [inputParams]="iconParams"></app-keenicon>

        <div class="btn-carousel" aria-hidden="false">
            <div class="carousel-track">
                <div class="carousel-item">
                    <span class="btn-text">{{ (! _isLoading) ? (translation | translateFallback) : '' }}</span>
                </div>
                <div class="carousel-item" *ngIf="withSoftConfirmation">
                    <span class="btn-confirm-text">{{ 'GENERAL.ARE_YOU_SURE_SHORT' | translate }}</span>
                </div>
            </div>
        </div>

        <div *ngIf="_isLoading" class="spinner-border spinner-border-md position-absolute" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </span>
    <app-confirm-modal *ngIf="withConfirmation" #confirmModal class="d-none" (onModalConfirm)="clicked.emit()"></app-confirm-modal>
    <!--end::Indicator label-->
</button>