<button type="submit"
        [class]="'btn ' + styleClass + ' position-relative'"
        class="btn btn-primary position-relative"
        style="width: inherit; height: 3.5rem;"
        (click)="click()"
        [disabled]="_disabled">
    <!--begin::Indicator label-->
    <span class="indicator-label d-flex justify-content-center align-items-center">
<!--        <app-keenicon *ngIf="iconParams"-->
<!--                      [inputParams]="KeeniconInputParams.forReactiveButton('check-circle', iconParams.class, iconParams.color, iconParams.type)"-->
<!--                      [@fadeOut]="(animateConfirmation$ | async)">-->
<!--        </app-keenicon>-->
<!--        <app-keenicon *ngIf="iconParams"-->
<!--                      [inputParams]="iconParams"-->
<!--                      [@fadeIn]="!(animateConfirmation$ | async)">-->
<!--        </app-keenicon>-->
        <app-keenicon *ngIf="iconParams" [inputParams]="iconParams"></app-keenicon>
        <span *ngIf="!_isLoading" [innerHTML]="translation | translateFallback"></span>
        <div *ngIf="_isLoading" class="spinner-border spinner-border-md position-absolute" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </span>
    <app-confirm-modal *ngIf="withConfirmation" #confirmModal class="d-none" (onModalConfirm)="clicked.emit()"></app-confirm-modal>
    <!--end::Indicator label-->
</button>
