<div class="image-input image-input-outline image-input-placeholder mb-3 image-input-changed cursor-default"
     (click)="$event.stopPropagation()"
     data-kt-image-input="true">
    <!--begin::Preview existing avatar-->
    <div class="image-input-wrapper w-200px h-200px bgi-position-y-center bgi-position-x-center" [style.background-size]="'contain'"
         [style]="'background-image: url(' + image + ');'"></div>
    <!--end::Preview existing avatar-->

    <!--begin::Label-->
    <label class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" *ngIf="!hideEditButton" (click)="onEdit.emit()"
           data-kt-image-input-action="change" data-bs-toggle="tooltip" aria-label="Change avatar"
           data-bs-original-title="Change avatar" data-kt-initialized="1">
        <i class="ki-duotone ki-pencil fs-7"><span class="path1"></span><span class="path2"></span></i>
        <!--begin::Inputs-->
<!--        <input type="file" name="avatar" accept=".png, .jpg, .jpeg">-->
<!--        <input type="hidden" name="avatar_remove">-->
        <!--end::Inputs-->
    </label>
    <!--end::Label-->

    <!--begin::Cancel-->
    <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" *ngIf="!hideCancelButton"
          (click)="onCancel.emit(); $event.stopPropagation()"
          data-kt-image-input-action="cancel" data-bs-toggle="tooltip" aria-label="Cancel avatar"
          data-bs-original-title="Cancel avatar" data-kt-initialized="1">
        <i class="ki-duotone ki-cross fs-2">
            <span class="path1"></span>
            <span class="path2"></span>
        </i>
    </span>
    <!--end::Cancel-->

    <!--begin::Remove-->
<!--    <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"-->
<!--          data-kt-image-input-action="remove" data-bs-toggle="tooltip" aria-label="Remove avatar"-->
<!--          data-bs-original-title="Remove avatar" data-kt-initialized="1">-->
<!--            <i class="ki-duotone ki-cross fs-2">-->
<!--                <span class="path1"></span>-->
<!--                <span class="path2"></span>-->
<!--            </i>-->
<!--    </span>-->
    <!--end::Remove-->
</div>
