<div class="dropzone dz-clickable d-grid {{statusBasedCss}}"
     (dragover)="highlight($event)"
     (dragleave)="unhighlight($event)"
     (drop)="handleDrop($event)"
     (click)="images.click()">
    <!--begin::Message-->
    <div class="dz-message py-5 justify-content-center">
        <!--begin::Icon-->
        <i class="ki-duotone ki-file-up text-primary fs-3x"><span class="path1"></span><span
                class="path2"></span></i>                    <!--end::Icon-->
        <!--begin::Info-->
        <div class="ms-4">
            <h3 class="fs-5 fw-bold text-gray-900 mb-1" translate="{{subTitleLabel.get()}}"></h3>
            <span class="fs-7 fw-semibold text-gray-500" translate="{{descriptionLabel.get()}}"></span>
        </div>
        <!--end::Info-->
    </div>
    <div class="d-flex gap-10 justify-content-center flex-wrap">
        <ng-content></ng-content>
    </div>
    <input type="file" multiple="multiple" accept="{{acceptedFileTypes}}" class="d-none"
           #images (change)="handleFileSelected($event)"/>
</div>
